body{
    text-align:center;
}

button{
    width:200px;
    height:40px;
    border-radius: 9px;
    color:white;
}

#increment-btn{
    background-color: red;
    margin-bottom: 10px;
}

#save-btn{
    background-color: green;
}

